@CHARSET "UTF-8";
/******* GENERAL SET *******/
body{
	background-image: url(/style/images/bg.png);
	background-position: left top;
	background-size: auto;
	background-repeat: repeat;
	background-attachment: scroll;
	font-size: 12px;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	margin:0pt;
	cursor:default;
}
html,body{
	text-align: left;
}
.clear{
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}
a{
	text-decoration: none;
}
strong{
	font-weight: 700;
}

input {
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #A9A8AB;
}

textarea {
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #A9A8AB;
}

select
{
	border: 1px solid #A9A8AB;
}
/******* GENERAL RESET *******/
.page-header h2 {
	color: #5f95ef;
}
/******* LOGO *******/
#logo{
	margin-top: 1em;
	display: block;
}
/******* /LOGO  *******/
/******* CONTAINER *******/
#container{
	width: 600px;
	margin: 40px auto;
	text-align: left;
}
/******* /CONTAINER *******/
/******* FORM *******/
#customForm{
	padding: 0 10px 10px;
}
#customForm label{
	display: block;
	color: #797979;
	font-weight: 700;
	line-height: 1.4em;
}
#customForm input{
	width: 220px;
	padding: 6px;
	color: #949494;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #cecece;
}
#customForm input.error{
	background: #f8dbdb;
	border-color: #e77776;
}
#customForm textarea{
	width: 550px;
	height: 80px;
	padding: 6px;
	color: #adaeae;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-style: italic;
	font-size: 12px;
	border: 1px solid #cecece;
}
#customForm textarea.error{
	background: #f8dbdb;
	border-color: #e77776;
}
#customForm div{
	margin-bottom: 15px;
}
#customForm div span{
	margin-left: 10px;
	color: #b1b1b1;
	font-size: 11px;
	font-style: italic;
}
#customForm div span.error{
	color: #e46c6e;
}
#customForm #send{
	background: #6f9ff1;
	color: #fff;
	font-weight: 700;
	font-style: normal;
	border: 0;
	cursor: pointer;
}
#customForm #send:hover{
	background: #79a7f1;
}
#error{
	margin-bottom: 20px;
	border: 1px solid #efefef;
}
#error ul{
	list-style: square;
	padding: 5px;
	font-size: 11px;
}
#error ul li{
	list-style-position: inside;
	line-height: 1.6em;
}
#error ul li strong{
	color: #e46c6d;
}
#error.valid ul li strong{
	color: #93d72e;
}
/******* /FORM *******/



.GeneralButtons
{
	border: 1px solid #3e9533;
	border-bottom-color: #3e9533;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	padding: 5px 8px 5px;
	text-decoration: none;
	text-shadow: 0 -1px 0 #2e63a5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0 0 1px #ddd;
	-webkit-box-shadow: 0 0 1px #ddd;
	background: #3e9533;
	border-bottom-color: #3e9533;
}

.GeneralButtons:hover
{
	border: 1px solid #2e63a5;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 0 #2e63a5;
	background: #3570b8;
}

.ErrorFont
{
	color: red;
	font-size: 14px;
}


#pages_numbers
{
	text-align: center;

	margin:auto;
	width:500px;
}

#paging .pagination ul li.inactive,
#paging .pagination ul li.inactive:hover
{
	background-color:#ededed;
	color:#bababa;
	border:1px solid #bababa;
	cursor: default;
}

#paging
{
	display: table-cell;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

#paging .pagination ul li
{
	list-style: none;
	float: left;
	border: 1px solid #006699;
	padding: 2px 6px 2px 6px;
	margin: 0 3px 3px 3px;
	font-family: arial;
	font-size: 14px;
	color: #006699;
	font-weight: bold;
	background-color: #f2f2f2;
}

#paging .pagination ul li:hover
{
	color: #fff;
	background-color: #006699;
	cursor: pointer;
}

.NewsBar
{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	height: 14px;
	overflow: hidden;
	width: 700px;
	padding:5px;
	border:solid 1px #dedede;
	background:#fff;
	font-size: 12px;
	line-height: 21px;
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

.NewsBar ul
{
	margin: 0;
	padding: 0;
	height: 15px;
	display: block;
}
.NewsBar ul li
{
	display: block;
	float: left;
	position: relative;
	height: 14px;
	overflow: hidden;
	line-height: 15px;
	margin: 0px 6px 0px 0;
	padding: 0px 10px 0px 0;
	font-size: .9167em;
}

.NewsBar ul li span
{
	display: block;
	overflow: hidden;
}
.NewsBar ul li a
{
	display: block;
	position: relative;
	height: 14px;
	line-height: 14px;
	overflow: hidden;
	float: left;
}
.NewsBar ul li.first a
{
	height: 16px !important;
	text-indent:-1400em;
	width:16px;
	padding: 0;
	margin-top: 2px;
	overflow: hidden;
}

.NewsBar ul li.first a:hover
{
	background-position: 0 -16px;
}

.NewsBar ul li.last
{
	background: none;
	margin-right: 0;
	padding-right: 0;
}

.NewsBar h1
{
	font-weight: bold;
	color: #007ac3;
	font-size: 2em;
	line-height: 1em;
	margin: 1.25em 0 .75em 0;
}

.NewsBar a
{
	color: #0e82c7;
	text-decoration: none;
	font-size: inherit;
	font-weight: inherit;
}

.NewsBar a:hover
{
	text-decoration: underline;
}

/*** Bootstrap Customization ***/

.panel-body.no-padding {
	padding: 15px 0px !important;
}

.panel-heading {
	font-size: 11pt;
}

.panel .panel {
	margin: 0 !important;
}

#categories table {
	margin: 0 auto;
}

.navbar {
	border-radius: 0 !important;
}
.page-header {
	border-bottom: 1px solid darkgrey !important;
}

.section-header {
	color: #5f95ef;
	padding: 0px 15px;
}

.carousel img {
    width: 100%;
}

.carousel .item {
    max-height: 35vh;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.carousel {
	margin-bottom: 2%;
}